body {
  background-color: $bg-1;
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

div.content {
  margin: 1rem;
}

a {
  color: $primary-2;
  text-decoration: none;
}

a:hover {
  color: $primary-3;
}

span.author {
  color: $tertiary-4;
}

svg {
  stroke: black;
  fill: black;
}