blockquote {
  background-color: white;
  border-left: 0.3rem solid $tertiary-1;
  border-radius: 0.2rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}