div.chat {
  ul#chat-msgs {
    list-style-type: circle;
    
    li {
      background-color: white;
      border-radius: 0.2rem;
      padding: 0.3rem;
      margin-bottom: 0.5rem;
      width: 90%;
    }
  }

  form#chat-form {
    input#chat-input[type = text]{
      background-color: white;
      border: 0;
      border-radius: 0.2rem;
      padding: 0.5rem;
      width: 90%;
      height: 1rem;
      margin-left: 1rem;
    }
    button {
      background-color: white;
      border: 0;
      height: 2rem;
      width: 5%;
      padding: 0.5rem;
      border-radius: 0.2rem;
    }
  }
}