ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: $nav-bg;
  font-family: "Roboto Slab", serif;

  li {
    float: left;

    a {
      display: block;
      color: $nav-item-text;
      text-align: center;
      padding: 0.5rem 1rem;
      text-decoration: none;
      margin-right: 0.3rem;
      margin-left: 0.2rem;
    }

    a:hover {
      background-color: $nav-item-hover-bg;
      color: $nav-item-hover-text;
    }
  }
}