@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/jetbrainsmono.woff2");
}

body {
  background-color: #e6f5ff;
  background-image: linear-gradient(to bottom right, #e6f5ff, #ccebff);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: #1782c7;
  background-image: linear-gradient(to bottom, #39d288, #0cd072);
}

ul.nav li.nav-item {
  float: left;
}

li.nav-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em 1rem;
  text-decoration: none;
  margin-right: 0.3rem;
}

li.nav-item a:hover {
  background-color: #111;
  color: white;
}

div.content {
  margin: 1rem;
}

blockquote {
  border-left: 0.3rem solid #4f56d2;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background-color: white;
}

code {
  background-color: white;
  color: black;
  font-family: "JetBrains Mono", monospace;
  font-size: 10pt;
  margin: 0.2rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
}

pre code {
  display: block;
  border-left: 0.3rem solid #4f56d2;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background-color: #111;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 10pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}