<!DOCTYPE html>
<html>

<head>
	<title>Engage Static</title>
	{% include "head.html" %}
</head>

<body>
	{% include "nav.html" %}
	<div class="content">
		<h1>Sample Static Outline</h1>

    <blockquote>Written by Someone</blockquote>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lorem ornare tellus dapibus interdum. Donec vel enim sit amet ante mollis placerat. Sed sagittis arcu et tortor euismod vulputate. Aliquam et interdum quam, non aliquet diam. Vivamus at justo justo. In vel ex ac erat interdum eleifend non tempor massa. Proin non dignissim est. Mauris mi libero, ornare non porta id, fringilla at nibh. Quisque vulputate arcu eget posuere pulvinar. Proin ligula nulla, facilisis sit amet congue malesuada, consequat id sem. Nam ornare purus et arcu feugiat, in porttitor dolor maximus. Vestibulum nunc leo, scelerisque ac sem in, placerat porttitor elit. Proin lobortis orci et lectus congue, at elementum nisi dapibus.</p>

    <pre><code>x = "some code"
print(x)</code></pre>
	</div>
</body>

</html>